@font-face { 
  font-family: "Cobbler-Medium";
  src: url("https://db.onlinewebfonts.com/t/0c4a68636410d35c73e9d6d47babf86c.eot");
  src: url("https://db.onlinewebfonts.com/t/0c4a68636410d35c73e9d6d47babf86c.eot?#iefix") format("embedded-opentype"),
       url("https://db.onlinewebfonts.com/t/0c4a68636410d35c73e9d6d47babf86c.woff2") format("woff2"),
       url("https://db.onlinewebfonts.com/t/0c4a68636410d35c73e9d6d47babf86c.woff") format("woff"),
       url("https://db.onlinewebfonts.com/t/0c4a68636410d35c73e9d6d47babf86c.ttf") format("truetype"),
       url("https://db.onlinewebfonts.com/t/0c4a68636410d35c73e9d6d47babf86c.svg#Cobbler-Medium") format("svg");
}

body, h4, p, .form-heading, .form-description, .submit-button {
  font-family: "Cobbler-Medium";
}

.whyus-contact-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.whyus-image-container {
 
  position: relative;
  width: 100%;
  height: auto;
}

.whyus-full-image {
margin-bottom: 70px;
width: 100%;
margin-top: 70px;
}

.whyus-contact-heading {
  position: absolute;
  top: 5%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #005E90;
  text-align: center;
  font-size: 48px;
  font-weight: 500;
  margin-bottom: 30px;
}

.floating-image{
  position: absolute;
  width: auto;
  height: auto;
}

.sun {
  top: 10%;
  left: 20%;
  width: 7%;
  border-radius: 50%; 
  animation: sun-glow 4s infinite alternate ease-in-out;
}

.rocket{
  top: 60%;
  right: 15%;
  width: 5%;
  animation: float-up-down 5s infinite ease-in-out;
}

.balloon1{
  top: 50%;
  left: 15%;
  width: 6%;
  animation: float-up-down 6s infinite ease-in-out;
}

.balloon2{
  top: 15%;
  right: 20%;
  width: 5%;
  animation: float-up-down 6s infinite ease-in-out;
}

.heart-balloon{
  top: 10%;
  right: 35%;
  width: 7%;
  animation: move-left-right 4s infinite ease-in-out;
}
.whyus-Text-container{
  max-width: 70%;
  color: #414042;
  text-align: center;
  font-family: "Cobbler-Medium";
  font-size: 27.135px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px; 
  position: absolute;
  top: 77%; 
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0; 
}

.whyus-box-container {
  background: url('../../public/Playarea/BOX.svg') no-repeat center center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 406px;
  background-size: contain;
  width: 100%;
  margin-top: 50px;
  position: relative;
}
.whyus-truck-gif {
  position: absolute;
  top: -160px;
  right: 300px; 
  height: auto;
}

.whyus-stats-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  gap: 100px;
}

.whyus-stat-item {
  display: flex;
  flex-direction: column;
  gap: 30px;
  text-align: center;
  position: relative;
}

.whyus-stat-text {
  margin-top: -20px;
  font-family: "Cobbler-Medium";
  font-size: 22px;
  color: white;
}

/* Animations */
@keyframes sun-glow {
  0% {
      filter: brightness(0.8);
      transform: scale(0.5);
  }
  100% {
      filter: brightness(1); 
      transform: scale(1.1);
  }
}

@keyframes float-up-down {
  0%, 100% {
      transform: translateY(0);
  }
  50% {
      transform: translateY(-50px);
  }
}

@keyframes move-left-right {
  0%, 100% {
      transform: translateX(0);
  }
  50% {
      transform: translateX(-50px);
  }
}

@media (min-width: 769px) and (max-width: 1400px){

  .whyus-Text-container{
    font-size: 20px;
    line-height: 20px;
    width: max-content;
  }
  .whyus-stat-item{
    display: block;
  }
 .whyus-stats-container{
  flex-wrap: nowrap;
  
 }
 .whyus-stat-text{
  margin-top: 0px;
 }

 .whyus-stat-image{
  width: 50%;
}
  .whyus-box-container{
    margin-top: auto;
    width: 90%;
  }
  .whyus-truck-gif{
    top: -110px;
    right: 100px;
  }
}

@media (min-width: 601px) and (max-width: 768px){
  .whyus-stat-text{
    font-size: 15px;
  }
  .whyus-stats-container{
    flex-wrap: nowrap;
    gap: 30px;
    
   }
   .whyus-stats-container img {
    margin: auto;
    margin-top: 20px;
    width: 40%;
}
.whyus-box-container{

  width: 90%;
  margin-top: -15%;
}
.whyus-truck-gif{
  right: 17px;
  top: -10px;
  height: 300px;
}
.whyus-Text-container {
  margin-top: -30px;
  width: 85%; 
  font-size: 15px; 
  line-height: 22px; 
}

}

/* Responsive for mobile screens */
@media screen and (max-width: 600px) {
 .whyus-stats-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* 2 columns */
    gap: 2px; 
  }
  .whyus-box-container{
    background: url('../../public/Playarea/Blue\ bg.png') no-repeat center center;
    background-size: contain;
    padding: 10px;
    width: 90%;
    margin-top: -15%;
  }
  .whyus-Text-container {
    margin-top: -40px;
    width: 85%; 
    font-size: 15px; 
    line-height: 22px; 
  }
  .whyus-contact-heading1{
    font-size: 17px;
  }
  .whyus-stats-container img {
    margin: auto;
    margin-top: 20px;
    width: 30%;
}
.whyus-stat-text{
  font-size: 13px;
}
.whyus-contact-heading{
  font-size: 30px;
}
.whyus-truck-gif{
  right: 17px;
  top: -30px;
  height: 300px;
}
}